body {
	margin: 0;
	padding: 0;
}
.preLoader {
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}
.preLoader .screen {
	height: 100%;
	background-color: #000;
}
.preLoader .outer {
	height: 100px;
	line-height: 100px;
	width: 100px;
	margin: 0 auto;
	text-align: center;
	border: 10px solid white;
	border-radius: 100px;
}
.preLoader .inner {
	color: white;
	font-family: Impact;
	font-size: 55px;
}
.preLoader .preLoaderCont {
	position: absolute;
	top: 250px;
	/* right: 40%; */
	width: 100%;
}